@import '~antd/dist/antd.css';
@font-face {
  font-family: slb;
  src: url("./fonts/slb.ttf");
}
body {
  margin: 0;
  font-family: slb,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  height: 100vh;
}
.app-layout{
  height: 100vh;
  overflow: hidden;
}
.ant-layout-sider-children{
  user-select: none;
}